<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Data tables</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-light navbar-light" id="navMain">
        <ul class="navbar-nav">           
            <li class="nav-item @Html.IsActive("Home", "Index")">              
                <a href="@Url.Action("DataTablesServersideTest", "DataTablesTest")" id="linkDataTablesServersideTest" class="nav-link">DataTables server side</a>

            </li>
            <li class="nav-item @Html.IsActive("Home", "Index")">                
                <a href="@Url.Action("DataTablesClientsideTest", "DataTablesTest") " id="linkDataTablesClientsideTest" class="nav-link">DataTables client side</a>
            </li>
        </ul>
    </nav>

    <div class="container body-content">
        <br />

        @RenderBody()
     
    </div>

    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)
</body>
</html>
